// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "name": "gtceu",
  "fields": {
    "ore_veins": {
      "value": "false",
      "type": "BooleanField"
    },
    "bedrock_fluids": {
      "value": "false",
      "type": "BooleanField"
    }
  },
  "configVersion": "5.10.3"
}